user/protected/config/*
user/protected/runtime/*
build.prod.properties
build.local.properties
musiquelibre/*
forum/plugins/MloSsoAuthent/config.php
wp-content/plugins/mlo_sso_authent/mlo_sso_config.php
