yii_db=
yii_db_user=
yii_db_pass=

forum_db=
forum_db_user=
forum_db_pass=

old_dogma_db=
old_dogma_db_user=


blog_db=
blog_db_user=
blog_db_pass=

yii_folder=./user
old_dogma_folder=./dogma
inc_folder = ./inc

#TODO : douple check the use of this !!!
#TODO : put generic stuffs in generic files
prod_url = musique-libre.org
local_url = mlo.loc
#TODO : find a way to escape the url above automatically
esc_local_url = mlo\.loc

#Uncomment an fill the fallowing values for prod settings
#ftp_host=
#ftp_user=
#ftp_pass=
#ftp_folder=
