yii_db=
yii_db_user=
yii_db_pass=

forum_db=
forum_db_user=
forum_db_pass=

blog_db=
blog_db_user=
blog_db_pass=

yii_folder=./user.musique-libre.org
inc_folder = ./inc

#URL must be in their minimal forms : example.com (no http:// or such)
#This is the main PROD url, even in local !!!!
main_url = 

#Uncomment an fill the fallowing values for prod settings
#ftp_host=
#ftp_user=
#ftp_pass=
#ftp_folder=
