/*
(use the keyword "###1" to jump to the next part "###2" for the next sub-part, "###3" for the sub-sub..)
SUMMARY : 

NAKED TAGS
FORMS
GENERIC CLASSES
GENERIC STYLES
  GRAPHICAL ELEMENTS
  LOGO
  MENUS
    GLOBAL MENU
    MAIN NAV
  HOME
  COLUMNS

*/
/*#1 : LESS GLOBAL VARIABLES*/
/*a very subtle blue*/
/*BG*/
/*Text colors*/
/*#1 : LESS MIXINS*/
/*###1 : NAKED TAGS*/
body {
  background-image: url("../images/worn_dots.png");
  color: #333333;
  background-color: #dddddd;
}
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
a,
a:visited {
  text-decoration: none;
  color: #9c4409;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 2.1em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Liberation Mono;
  font-weight: 200;
  color: #555555;
}
h1,
h2 {
  color: #cc590c;
}
li {
  list-style: none;
  margin: 5px 0;
}
li:before {
  content: "\25B9\00A0";
  color: #b15e27;
  margin-left: -14px;
}
nav {
  background: url("../images/subtle_dots.png");
}
/*Reseting the list styles when they are a list of links in a navigation element*/
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  padding: 0;
  margin: 0;
}
nav li:before {
  content: "";
}
@font-face {
  font-family: "FontAwesome";
  src: url("./font/fontawesome-webfont.eot");
  src: url("./font/fontawesome-webfont.eot?#iefix") format("eot"), url("./font/fontawesome-webfont.woff") format("woff"), url("./font/fontawesome-webfont.ttf") format("truetype"), url("./font/fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal;
}
blockquote {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0 0 0 15px;
  margin: 0 0 18px 40px;
  position: relative;
  font-style: italic;
}
blockquote:before {
  display: block;
  content: "\201C";
  font-size: 100px;
  position: absolute;
  left: -40px;
  top: 30px;
  font-style: normal;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
}
blockquote small {
  display: block;
  line-height: 18px;
  color: #999;
  font-style: normal;
}
blockquote small:before {
  content: '\2014 \00A0';
}
summary {
  color: #9c4409;
  cursor: pointer;
}
summary:before {
  content: '\25BF \00A0';
}
.open summary:before {
  content: '\25B5 \00A0';
}
/*dt styling is with generic classes*/
/*###1 GENERIC CLASSES*/
.bullet_less:before {
  /*equivalent of a plain "list-style:none" class. The bullet is added with "before", so  it has to be like this*/

  content: "";
  margin-left: 0;
}
.titlization,
.entry-title {
  text-shadow: 2px 2px 0 #ffffff, 2px 3px 3px #cc590c;
  -moz-text-shadow: 2px 2px 0 #ffffff, 2px 3px 3px #cc590c;
  -o-text-shadow: 2px 2px 0 #ffffff, 2px 3px 3px #cc590c;
  -m-text-shadow: 2px 2px 0 #ffffff, 2px 3px 3px #cc590c;
  -webkit-text-shadow: 2px 2px 0 #ffffff, 2px 3px 3px #cc590c;
  margin: 15px 0 5px 0;
}
.slight_highlight,
dt {
  text-decoration: none;
  color: #b15e27;
  -webkit-text-shadow: 0 0 2px #cc590c;
  -moz-text-shadow: 0 0 2px #cc590c;
  -o-text-shadow: 0 0 2px #cc590c;
  -ms-text-shadow: 0 0 2px #cc590c;
  text-shadow: 0 0 2px #cc590c;
  font-size: 1em;
  /* usefull if applied to headers*/

}
/*Hiding a semantic element useful for accessibility*/
.out_of_the_way {
  position: absolute;
  top: -9999px;
  left: auto;
}
.menu_more_button {
  z-index: 9990;
  position: relative;
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  -ms-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  transition: top 0.5s ease;
  top: 0px;
  width: 30px;
}
.lower_button {
  top: 10px;
}
.menu_more_button.lower_button {
  border: 1px solid #b15e27;
}
.highlight,
.Active,
Highlight {
  /*Vanilla classes are camel case which sucks*/

  border-bottom: 2px solid #cc590c;
  border-right: 2px solid #cc590c;
}
.visual_block,
.form_box,
article.page,
article.post,
article.attachment {
  -webkit-box-shadow: 5px 5px 5px #999999;
  -moz-box-shadow: 5px 5px 5px #999999;
  -o-box-shadow: 5px 5px 5px #999999;
  -ms-box-shadow: 5px 5px 5px #999999;
  box-shadow: 5px 5px 5px #999999;
  background-color: #fff;
  border: 1px solid #eabea0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin: 0 1% 2% 1%;
  padding: 0 20px 20px 20px;
}
main img {
  -webkit-box-shadow: 3px 3px 12px #dddddd;
  -moz-box-shadow: 3px 3px 12px #dddddd;
  -o-box-shadow: 3px 3px 12px #dddddd;
  -ms-box-shadow: 3px 3px 12px #dddddd;
  box-shadow: 3px 3px 12px #dddddd;
}
/*###1 SPECIFIC STYLING*/
/*###2 BUTTONS AND VISUAL ELEMENTS*/button,
.buttonified,
.BigButton,
input[type="submit"],
input[type="button"] {
  /*buttonified exists to make a link looks like a button, when <button> is not semantic*/

  font-size: 1.3em;
  vertical-align: middle;
  border: none;
  /*.shadowyBox(@main_color_dark);*/

  color: #cc590c;
  margin: 0 4px;
  height: 33px;
  background-color: #fff;
  border: 1px solid #eabea0;
}
.main_menu_more {
  -webkit-box-shadow: 0 0 2px #9c4409;
  -moz-box-shadow: 0 0 2px #9c4409;
  -o-box-shadow: 0 0 2px #9c4409;
  -ms-box-shadow: 0 0 2px #9c4409;
  box-shadow: 0 0 2px #9c4409;
  border: none;
  font-size: 1em;
}
.button_thick {
  -webkit-text-shadow: 1px 1px 1px #9c4409;
  -moz-text-shadow: 1px 1px 1px #9c4409;
  -o-text-shadow: 1px 1px 1px #9c4409;
  -ms-text-shadow: 1px 1px 1px #9c4409;
  text-shadow: 1px 1px 1px #9c4409;
  color: #fff;
}
.buttonified {
  display: inline-block;
  text-decoration: none;
  line-height: 33px;
  height: 30px;
  padding: 0 1px 0 6px;
}
.menu_container .enlighted {
  border-bottom: 2px solid #cc590c;
}
button:hover,
.buttonified:hover,
.BigButton:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
.lower_button,
.selected_button {
  color: #cc590c;
  -webkit-box-shadow: 4px 4px 4px #cc590c;
  -moz-box-shadow: 4px 4px 4px #cc590c;
  -o-box-shadow: 4px 4px 4px #cc590c;
  -ms-box-shadow: 4px 4px 4px #cc590c;
  box-shadow: 4px 4px 4px #cc590c;
  text-decoration: none;
}
#connection_button.lower_button {
  display: none;
}
#connection_button,
.darker_button,
.darker_button:visited {
  background: #cc0c1f;
  color: #fff;
  font-weight: 500;
}
#connection_button:hover,
.darker_button:hover {
  color: #fff;
  background: #cc590c;
  -webkit-text-shadow: 2px 2px 2px #facaaa;
  -moz-text-shadow: 2px 2px 2px #facaaa;
  -o-text-shadow: 2px 2px 2px #facaaa;
  -ms-text-shadow: 2px 2px 2px #facaaa;
  text-shadow: 2px 2px 2px #facaaa;
  -webkit-box-shadow: 0 0 5px #cc590c;
  -moz-box-shadow: 0 0 5px #cc590c;
  -o-box-shadow: 0 0 5px #cc590c;
  -ms-box-shadow: 0 0 5px #cc590c;
  box-shadow: 0 0 5px #cc590c;
}
.hollow_button {
  border: none;
  -webkit-box-shadow: 0 0 2px #9c4409;
  -moz-box-shadow: 0 0 2px #9c4409;
  -o-box-shadow: 0 0 2px #9c4409;
  -ms-box-shadow: 0 0 2px #9c4409;
  box-shadow: 0 0 2px #9c4409;
  font-size: 1em;
}
/*###2 : LOGO*/
#main_header {
  background: #fff;
  margin-bottom: 40px;
  -webkit-box-shadow: 4px 4px 4px #f37c2d;
  -moz-box-shadow: 4px 4px 4px #f37c2d;
  -o-box-shadow: 4px 4px 4px #f37c2d;
  -ms-box-shadow: 4px 4px 4px #f37c2d;
  box-shadow: 4px 4px 4px #f37c2d;
}
#logo_box {
  text-align: center;
  font-size: 1em;
  color: #cc590c;
  display: inline-block;
  width: 150px;
  vertical-align: middle;
}
.logo_box_img,
.site_logo {
  background: #f37c2d;
}
#site-title {
  font-size: 120px;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Liberation Mono, Liberation Sans;
  color: #f37c2d;
  -webkit-text-shadow: 3px 3px 0 #ffffff, 6px 6px 0 #f37c2d;
  -moz-text-shadow: 3px 3px 0 #ffffff, 6px 6px 0 #f37c2d;
  -o-text-shadow: 3px 3px 0 #ffffff, 6px 6px 0 #f37c2d;
  -ms-text-shadow: 3px 3px 0 #ffffff, 6px 6px 0 #f37c2d;
  text-shadow: 3px 3px 0 #ffffff, 6px 6px 0 #f37c2d;
  display: inline-block;
  -webkit-transform: skew(-20deg, 0deg);
  -moz-transform: skew(-20deg, 0deg);
  -ms-transform: skew(-20deg, 0deg);
  -o-transform: skew(-20deg, 0deg);
  transform: skew(-20deg, 0deg);
  margin: 0 20px;
  vertical-align: text-bottom;
  border-left: 1px solid #eabea0;
  border-right: 1px solid #eabea0;
  padding: 0 30px;
  vertical-align: middle;
}
#home_link {
  /*color given to the link inside the site title*/

  color: #f37c2d;
}
#home_link:hover {
  text-decoration: none;
}
#site-description {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
/* ###1 FORMS */
form {
  margin: 0 0 18px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
legend small {
  font-size: 13.5px;
  color: #999;
}
label,
input,
textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 25px;
  padding: 4px;
}
select {
  padding: 4px 0 4px 8px;
}
progress {
  font-size: 1em;
  color: #555;
  width: 70% ;
  background-color: #fff;
  border: 1px solid #ccc;
}
textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: inline-block;
  font-size: 1em;
  color: #555;
  width: 70% ;
  background-color: #fff;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s, width ease-out 0.3s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s, width ease-out 0.3s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s, width ease-out 0.3s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s, width ease-out 0.3s;
  transition: border linear 0.2s, box-shadow linear 0.2s, width ease-out 0.3s;
}
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border-color: #fff;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #aaaaaa;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #aaaaaa;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #aaaaaa;
}
textarea:focus:invalid,
input:required:focus:invalid {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ff0000;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ff0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ff0000;
}
textarea:required:valid,
input:required:valid {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #00ff00;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #00ff00;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #00ff00;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 3px 0;
  cursor: pointer;
  vertical-align: top;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
#searchform label {
  display: none;
}
input#searchsubmit {
  display: none;
}
textarea {
  height: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Class for labelling required form items */
.required {
  color: #f20f25;
}
.form_row {
  margin: 10px 0;
}
/*###1 GENERIC STYLES (styles applied to several elements) */
/*###2 : MENUS */
.enphazied_block {
  background-image: url("../images/subtle_dots.png");
}
.sub_menu_container {
  position: absolute;
  left: 0;
  top: -999px;
  background: url("../images/subtle_dots.png");
  padding: 0 40px 10px 10px;
  border-left: 5px solid #cc590c;
  -webkit-box-shadow: 2px 2px 2px #723d19;
  -moz-box-shadow: 2px 2px 2px #723d19;
  -o-box-shadow: 2px 2px 2px #723d19;
  -ms-box-shadow: 2px 2px 2px #723d19;
  box-shadow: 2px 2px 2px #723d19;
  z-index: 9000;
}
/*###3 : GLOBAL MENU*/
#global_menu_container {
  border-bottom: 5px solid #f37c2d;
  background: url("../images/subtle_dots.png");
}
.global_menu_list.selected {
  background: #cc590c;
  color: #fff;
}
.global_sub_menu_container a {
  text-decoration: none;
  color: #333333;
  padding: 2px 2px 2px 4px;
  margin: 2px;
  font-size: 12px;
  display: block;
}
.global_sub_menu_container a:hover {
  background: #cc590c;
  color: #fff;
}
.global_menu_title {
  color: #555555;
  font-size: 16px;
  margin-bottom: 10px;
  padding-bottom: 6px;
  border-bottom: 1px solid #555555;
}
#global_menu .rsstitle {
  font-size: 1.1em;
  border-bottom: 1px solid #facaaa;
  margin: 0 0 10px 0;
}
#global_menu .rsstitle:before {
  content: "\25B9\00A0";
}
#global_menu .rsslist {
  margin: 0 0 15px 0;
}
#global_menu .rssdate {
  color: #333333;
  padding: 0 10px;
}
#global_menu .rssdesc {
  display: none;
}
#global_menu {
  position: relative;
  margin: 0;
  padding: 5px 5px;
}
.global_menu_list {
  padding-top: 2px;
  display: inline-block;
  margin: 0 8px;
}
.global_menu_list h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: Liberation Mono, Liberation Sans;
  color: #cc590c;
  -webkit-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #cc590c;
  -moz-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #cc590c;
  -o-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #cc590c;
  -ms-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #cc590c;
  text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #cc590c;
}
.global_menu_link,
.global_menu_link:visited {
  z-index: 9900;
  background: #fff;
  text-decoration: none;
  padding: 2px 8px;
  margin: 0 5px 0 10px;
  -webkit-box-shadow: 4px 4px 4px #cc590c;
  -moz-box-shadow: 4px 4px 4px #cc590c;
  -o-box-shadow: 4px 4px 4px #cc590c;
  -ms-box-shadow: 4px 4px 4px #cc590c;
  box-shadow: 4px 4px 4px #cc590c;
  position: relative;
  top: 0;
}
.global_menu_link:hover {
  -webkit-box-shadow: 5px 5px 5px #facaaa;
  -moz-box-shadow: 5px 5px 5px #facaaa;
  -o-box-shadow: 5px 5px 5px #facaaa;
  -ms-box-shadow: 5px 5px 5px #facaaa;
  box-shadow: 5px 5px 5px #facaaa;
}
#global_menu_contact:before {
  content: '';
  width: 24px;
  height: 24px;
  background-image: none, url('../images/icons_24/icons.png');
  background-position: 0 0, -24px -96px;
  background-color: #fff, none;
  padding: 3px 12px;
  margin-right: 5px;
}
#global_menu_irc:before {
  content: '';
  width: 24px;
  height: 24px;
  background-image: none, url('../images/icons_24/icons.png');
  background-position: 0 0, -144px -72px;
  background-color: #fff, none;
  padding: 3px 12px;
  margin-right: 5px;
}
#global_nav {
  display: inline-block;
}
#connection_menu {
  margin: 5px 8px;
  float: right;
}
/*###3 MAIN NAV*/
#login_form {
  text-align: right;
}
#login_form input {
  width: 50%;
}
#main_nav,
.sub_nav {
  border-top: 1px solid #eabea0;
  z-index: 3;
  position: relative;
  width: 100%;
}
#main_nav .menu,
.sub_nav .menu {
  padding: 10px;
  margin: 0;
  display: inline-block;
}
#main_nav .menu-item {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #eabea0;
  margin: 0 8px;
  vertical-align: middle;
}
#main_nav .sub-menu {
  position: absolute;
  top: -9999px;
}
#main_nav .sub_menu_container {
  border-top: 1px solid #6c6c6c;
}
.sub_menu_container .main_nav_link {
  margin: 15px 0;
  display: inline-block;
}
.sub_menu_container .main_nav_link.has_sub_link:after {
  content: "\00A0\25BE";
}
.main_nav_link.has_sub_link_top {
  margin-right: 5px;
}
.has_sub_li {
  position: relative;
}
.has_sub_li:hover .bellow_sub_menu {
  display: block;
  left: 0;
}
.has_sub_link {
  position: relative;
  border-bottom-width: 0;
}
.has_sub_li:hover .has_sub_link {
  border-left: 4px solid #cc590c;
}
.bellow_sub_menu {
  position: absolute;
  left: 9999px;
  border-top: 2px solid #eabea0;
  width: 300px;
  border-left: 5px solid #cc590c;
  background: #fff;
}
.bellow_sub_menu .menu_item {
  padding-right: 0;
}
.bellow_sub_menu .main_nav_link {
  width: 279px;
}
/*###2 COLUMNS  */
#primary {
  float: left;
  width: 73%;
}
#primary.full-width {
  width: 100%;
}
#sidebar {
  float: right;
  width: 24%;
  border: 1px solid #6c6c6c;
  background: url("../images/subtle_dots.png");
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 4px #6c6c6c;
  -moz-box-shadow: 4px 4px 4px #6c6c6c;
  -o-box-shadow: 4px 4px 4px #6c6c6c;
  -ms-box-shadow: 4px 4px 4px #6c6c6c;
  box-shadow: 4px 4px 4px #6c6c6c;
  border: 1px solid #eabea0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-right: 1%;
}
.sidebar_title {
  margin: 0 0 10px;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Liberation Mono, Liberation Sans;
  color: #b15e27;
  -webkit-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #b15e27;
  -moz-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #b15e27;
  -o-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #b15e27;
  -ms-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #b15e27;
  text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #b15e27;
}
.sidebar_title a {
  color: #b15e27;
}
#sidebar input {
  width: auto;
}
.sidebar_button {
  margin: 15px 0;
  display: block;
  -webkit-border-box-sizing: border-box;
  -moz-border-box-sizing: border-box;
  -o-border-box-sizing: border-box;
  -ms-border-box-sizing: border-box;
  border-box-sizing: border-box;
  text-align: center;
}
