/*
(use the keyword "###1" to jump to the next part "###2" for the next sub-part, "###3" for the sub-sub..)
SUMMARY : 

NAKED TAGS
FORMS
GENERIC CLASSES
GENERIC STYLES
  GRAPHICAL ELEMENTS
  LOGO
  MENUS
    GLOBAL MENU
    MAIN NAV
  SITE TITLE
  HOME
  COLUMNS

*/
@font-face {
  font-family: "intuitive";
  src: url("../fonts/intuitive.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "altfont";
  src: url("../fonts/Gauge-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  
  /*
  src: url("../fonts/Cousine-Regular-Latin.ttf");
  src: url("../fonts/Alfphabet-IV.ttf");
  src: url("../fonts/NEW ACADEMY.ttf");
  */
}
@font-face {
  font-family: "altfont_bold";
  src: url("../fonts/Gauge-Heavy.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cycle";
  src: url("../fonts/newscycle-regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "junction";
  src: url("../fonts/Junction 02.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dvl";
  src: url("../fonts/DejaVuSans-ExtraLight.ttf");
  font-weight: normal;
  font-style: normal;
}
/*#1 : LESS GLOBAL VARIABLES*/
/*@main_color: #C63B33;*/
/*b03030*/
/*a very subtle blue*/
/* SUB-SITES COLORS */
/*Services*/
/*BG*/
/*Text colors*/
/*#1 : LESS MIXINS*/
/*###1 : NAKED TAGS*/
body {
  font-size: 1.25em;
  font-family: "dejavu light", dvl, helvetica, sans-serif;
  line-height: 1.6em;
}
p {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}
a,
a:visited {
  text-decoration: none;
  color: #ba252f;
}
a:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: altfont, sans-serif;
  font-weight: 200;
  color: #555555;
  color: #707070;
}
h1 {
  font-size: 2.61em;
  line-height: 1.23em;
  margin: 0.63em 0 0;
}
h2 {
  font-family: altfont;
  font-size: 1.25em;
  margin: 1.28em 0 0 0;
  line-height: 1.28em;
}
h3 {
  font-size: 1em;
  font-family: altfont;
  margin: 1.6em 0 0 0;
}
h4 {
  font-size: 1em;
  font-family: altfont;
}
h5,
h6 {
  font-size: 1em;
  margin: 1.6em 0 0 0;
  font-family: altfont;
}
nav {
  background: rgba(210, 210, 210, 0.23);
}
nav a,
nav a:visited {
  color: #111;
}
/*Reseting the list styles when they are a list of links in a navigation element*/
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  padding: 0;
  margin: 0;
}
blockquote {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0 0 0 15px;
  margin: 0 0 18px 40px;
  position: relative;
  font-style: italic;
}
blockquote:before {
  display: block;
  content: "\201C";
  font-size: 100px;
  position: absolute;
  left: -40px;
  top: -20px;
  font-style: normal;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
}
blockquote small {
  display: block;
  line-height: 18px;
  color: #999;
  font-style: normal;
}
blockquote small:before {
  content: '\2014 \00A0';
}
summary {
  color: #ba252f;
  cursor: pointer;
  text-decoration: underline;
}
summary:before {
  content: '\25BC \00A0';
}
.open summary:before {
  content: '\2A3A \00A0';
}
/*dt styling is with generic classes*/
dl {
  margin: 1.6em 0;
}
dd {
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  color: #555;
}
dt {
  font-size: 0.8em;
}
table {
  width: 100%;
}
th {
  text-align: left;
  padding: 0.8em 1.6em;
}
td {
  padding: 0.8em 1.6em;
}
tr:nth-child(even) {
  background: #fafafa;
}
mark {
  font-weight: bold;
  background: #ba3e25;
  color: #fff;
  padding: 0 1.6em;
}
/*###1 GENERIC CLASSES*/
.tooltip {
  display: inline;
  position: relative;
}
.tooltip:hover:after {
  background: #ddbbb5;
  border-radius: 5px;
  bottom: 26px;
  color: #fff;
  content: attr(title);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 220px;
}
.tooltip:hover:before {
  border: solid;
  border-color: #ddbbb5 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}
.bullet_less,
.bullet_less_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.bullet_less:before {
  /*equivalent of a plain "list-style:none" class. The bullet is added with "before", so  it has to be like this*/
  content: "";
  margin-left: 0;
}
.titlization {
  text-shadow: 2px 2px 0 #ffffff, 2px 3px 3px #707070;
  -moz-text-shadow: 2px 2px 0 #ffffff, 2px 3px 3px #707070;
  -o-text-shadow: 2px 2px 0 #ffffff, 2px 3px 3px #707070;
  -m-text-shadow: 2px 2px 0 #ffffff, 2px 3px 3px #707070;
  -webkit-text-shadow: 2px 2px 0 #ffffff, 2px 3px 3px #707070;
  margin: 15px 0 5px 0;
}
.slight_highlight,
dt {
  -webkit-text-shadow: 2px 2px 0 #dddddd;
  -moz-text-shadow: 2px 2px 0 #dddddd;
  -o-text-shadow: 2px 2px 0 #dddddd;
  -ms-text-shadow: 2px 2px 0 #dddddd;
  text-shadow: 2px 2px 0 #dddddd;
  font-family: "altfont";
}
/*Hiding a semantic element useful for accessibility*/
.out_of_the_way {
  position: absolute;
  top: -9999px;
  left: auto;
}
.rightify {
  text-align: right;
}
.menu_more_button {
  z-index: 9990;
  position: relative;
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  -ms-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  transition: top 0.5s ease;
  top: 0px;
}
.lower_button {
  top: 10px;
}
.menu_more_button.lower_button {
  -webkit-box-shadow: 0 0 2px #fefefe;
  -moz-box-shadow: 0 0 2px #fefefe;
  -o-box-shadow: 0 0 2px #fefefe;
  -ms-box-shadow: 0 0 2px #fefefe;
  box-shadow: 0 0 2px #fefefe;
}
.highlight,
.Active,
Highlight {
  /*Vanilla classes are camel case which sucks*/
  border-bottom: 2px solid #707070;
  border-right: 2px solid #707070;
}
main img {
  -webkit-box-shadow: 3px 3px 12px #dddddd;
  -moz-box-shadow: 3px 3px 12px #dddddd;
  -o-box-shadow: 3px 3px 12px #dddddd;
  -ms-box-shadow: 3px 3px 12px #dddddd;
  box-shadow: 3px 3px 12px #dddddd;
}
#main_content .show_slow,
#main_content_full .show_slow,
aside .show_slow {
  opacity: 1;
  height: 100%;
}
/*###2 SITES COLORS*/
.dogma_archive_main_color {
  color: #ba3e25;
}
/*###1 SPECIFIC STYLING*/
/*###2 BUTTONS AND VISUAL ELEMENTS*/
button,
.buttonified,
.BigButton,
input[type="submit"],
input[type="button"] {
  /*buttonified exists to make a link looks like a button, when <button> is not semantic*/
  /*.shadowyBox(@main_color_dark);*/
  background-color: transparent;
  border: none;
  line-height: 1.6em;
  font-weight: bold;
  padding: 0 0.8em;
  border: 1px solid #707070;
}
.buttonified {
  display: inline-block;
  text-decoration: none;
  padding: 0 0.8em;
}
.main_menu_more {
  border: none;
  font-size: 1em;
  -webkit-box-shadow: 4px 4px 4px #ba3e25;
  -moz-box-shadow: 4px 4px 4px #ba3e25;
  -o-box-shadow: 4px 4px 4px #ba3e25;
  -ms-box-shadow: 4px 4px 4px #ba3e25;
  box-shadow: 4px 4px 4px #ba3e25;
}
.button_thick {
  color: #less_subtle_grey;
  -webkit-text-shadow: 1px 1px 1px #707070;
  -moz-text-shadow: 1px 1px 1px #707070;
  -o-text-shadow: 1px 1px 1px #707070;
  -ms-text-shadow: 1px 1px 1px #707070;
  text-shadow: 1px 1px 1px #707070;
  -webkit-box-shadow: 1px 1px 1px #707070;
  -moz-box-shadow: 1px 1px 1px #707070;
  -o-box-shadow: 1px 1px 1px #707070;
  -ms-box-shadow: 1px 1px 1px #707070;
  box-shadow: 1px 1px 1px #707070;
  padding: 0 15px;
}
button:hover,
.buttonified:hover,
.BigButton:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
.lower_button,
.selected_button,
.logo_box:hover button {
  color: #707070;
  text-decoration: none;
  background: #fff;
}
button:active,
.buttonified:active,
.BigButton:active,
input[type="button"]:active,
input[type="submit"]:active,
.lower_button,
.selected_button {
  -webkit-box-shadow: 0 0 2px #111111;
  -moz-box-shadow: 0 0 2px #111111;
  -o-box-shadow: 0 0 2px #111111;
  -ms-box-shadow: 0 0 2px #111111;
  box-shadow: 0 0 2px #111111;
}
.hollow_button {
  border: none;
  font-size: 1.3em;
}
.menu_container .enlighted {
  border-bottom: 2px solid #707070;
}
/*###2 : LOGO*/
#main_header {
  background: url("../images/header_bg.png");
}
#main_header button {
  border: none;
}
#main_header_right {
  width: calc(100% - 460px);
  border-bottom: 21px solid #e6e6e6;
  box-shadow: 0 9px 0 #e0e0e0;
  -moz-box-shadow: 0 9px 0 #e0e0e0;
  -webkit-box-shadow: 0 9px 0 #e0e0e0;
  -ms-box-shadow: 0 9px 0 #e0e0e0;
  -o-box-shadow: 0 9px 0 #e0e0e0;
}
#logo_box,
#secondary_logo_box {
  cursor: pointer;
}
#logos,
#secondary_logo_box,
#main_header_right,
#logo_box,
#secondary_logo_box,
#main_connection {
  /*make sure the headr elements stay in one line*/
  float: left;
  height: 70px;
}
#secondary_logo_box_title,
#logo_box_title {
  height: 70px;
  font-family: intuitive;
  text-align: right;
}
#logo_box {
  width: 210px;
  color: #555;
}
#logo_box_title {
  font-size: 29px;
}
#secondary_logo_box {
  width: 250px;
  background-repeat: no-repeat, no-repeat;
  background-position: top left, top right;
}
#secondary_logo_box_text {
  font-size: 1.3em;
  padding: 10px;
}
#secondary_logo_box_title {
  font-size: 20px;
  padding: 0;
}
.header_button {
  color: #eee;
  margin: 0;
  /*canceling buttons styles*/
  padding: 0 0.8em;
}
#project_button {
  color: #990C0C;
  border-bottom: 3px solid #990C0C;
}
#project_button:hover {
  background-color: #fff;
}
#secondary_logo_box .header_button {
  background-color: #ba2125;
}
#secondary_logo_box:hover .header_button {
  /* Needed to override the ID else the hover doesn't change the BG*/
  background-color: #fff;
}
.header_sub_button {
  height: 9px;
  text-align: center;
  line-height: 0;
  font-weight: bold;
}
/*
.logo_box_img, .site_logo{
  background: @main_color_lighter;
}*/
#main_connection {
  text-align: right;
  float: right;
}
#home_link,
#home_link_link:visited {
  /*color given to the link inside the site title*/
  color: #e5907e;
}
#home_link:hover {
  text-decoration: none;
}
#site-description {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
/***************************************
player
***************************************/
#main_player_container {
  margin: 0 20px 0 0;
  float: right;
  white-space: nowrap;
  /* chromium bugfix*/
}
#main_player_container .header_button {
  display: inline-block;
  width: auto;
}
#main_player_container .header_button:hover {
  background-color: #fff;
}
#main_player {
  display: inline-block;
  margin: 0 0 0 20px;
}
#main_player_media_html {
  display: none;
}
#page_playlist {
  display: none;
}
#playlist_button {
  width: auto;
  height: 50px;
  font-size: 20px;
}
.empty + #playlist_button {
  display: none;
}
.player_control {
  display: inline-block;
}
.player_control button {
  padding: 0 0.8em;
  cursor: pointer;
  height: auto;
  color: #c58c80;
}
#player_mute_buttons button {
  font-size: 1em;
}
.control_bar,
.playhead {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.playhead {
  position: absolute;
  top: 37px;
  left: 0px;
  width: 100%;
  padding: 0 20px;
  background: #fff;
  height: 0;
  overflow: hidden;
}
.player_control .inactive {
  opacity: 0.3;
}
.player_control.button {
  padding: 5px;
  border: 1px solid #c58c80;
}
.pptitle {
  border_bottom: 1px solid #ddbbb5;
  font-family: helvetica;
  display: block;
  background: #eeeeee;
  color: #555;
  line-height: 1em;
  height: 1em;
  overflow: hidden;
}
.ppscrubber:hover .pploaded,
.ppscrubber:hover .ppplayhead {
  opacity: 0.1;
}
.ppscrubber:hover .pptitle {
  height: auto;
}
/* volume slider - right */
.ppvslider {
  height: 1em;
  width: 60px;
  background: #ddbbb5;
  display: inline-block;
  vertical-align: middle;
}
.ppvmarker {
  position: relative;
  right: 0;
  left: 0;
  height: 1em;
  width: 100%;
  background: #c58c80;
  display: inline-block;
  vertical-align: top;
}
/* playhead */
.pptimeleft {
  font-size: 0.8em;
  vertical-align: top;
}
.ppscrubber {
  position: relative;
}
.ppplayhead,
.ppscrubberdrag,
.ppscrubber,
.pploaded {
  display: inline-block;
  height: 1em;
}
.ppplayhead,
.ppscrubberdrag,
.pploaded {
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}
.ppscrubber {
  background: #ddbbb5;
}
.ppplayhead {
  background: #c58c80;
  z-index: 10;
}
.ppscrubberdrag {
  background: transparent;
  cursor: pointer;
  z-index: 100;
}
.ppcontextmenu {
  display: none;
}
.play_track {
  cursor: pointer;
}
.pploaded {
  background: #d75136;
  opacity: 0.1;
}
#main_player_container .sub_menu_container {
  top: 100px;
  background: url("../images/subtle_dots.png");
  overflow: hidden;
}
.playlist_file {
  float: left;
  margin: 0 16px;
}
/*tracks loading...*/
.full_track_item.loading_problem,
.full_track_item.loading_playlist,
.loading_playlist {
  cursor: default;
}
.full_track_item.loading_playlist:hover .add_track,
.loading_playlist,
.full_track_item.loading_problem:hover .add_track {
  cursor: default;
  opacity: 0.3;
}
.full_track_item.loading_playlist .add_track,
.loading_playlist {
  background: url("../images/ajax-loader.gif") no-repeat -1px -3px;
}
#current_playlist .played {
  background: #f0f0f0;
}
#current_playlist .played:before {
  content: "\25B6";
}
.player_notif {
  color: #ba3e25;
  font-size: 1.2em;
  line-height: 23px;
  position: absolute;
  top: 0px;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: top ease 1s, opacity ease 1s;
  -moz-transition: top ease 1s, opacity ease 1s;
  -ms-transition: top ease 1s, opacity ease 1s;
  -o-transition: top ease 1s, opacity ease 1s;
  transition: top ease 1s, opacity ease 1s;
}
.player_notif.show_slow {
  top: -46px;
}
#player_helper {
  display: none;
  position: fixed;
  right: 0;
  bottom: 4.8em;
  padding: 0.8em 0
  border: 2px solid #ddd;
  background: #fff;
  text-align: center;
  z-index: 10000;
}
#player_helper button {
  border: none;
}
#player_remote {
  position: relative;
  z-index: 10000;
}
#go_to_player,
#go_to_playlist {
  margin: 5px 0;
}
/* ###1 FORMS */
form {
  margin: 0 0 1.6em;
  padding: 1.6em;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #11133;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
legend small {
  font-size: 13.5px;
  color: #999;
}
label {
  font-family: altfont;
}
label,
input,
textarea {
  font-weight: 200;
  display: block;
  text-align: center;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline;
}
select {
  padding: 4px 0 4px 8px;
}
progress {
  font-size: 1em;
  height: 1.6em;
  margin-bottom: 1.6em;
  width: 100%;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
}
input[type="file"] {
  line-height: 1.6em;
}
textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: block;
  width: calc(100% - 3.2em);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.95em 0.8em;
  margin: 1.6em;
  color: #555;
  background-color: #fff;
  border: 1px solid #ddd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 4px 7px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s, width ease-out 0.3s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s, width ease-out 0.3s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s, width ease-out 0.3s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s, width ease-out 0.3s;
  transition: border linear 0.2s, box-shadow linear 0.2s, width ease-out 0.3s;
}
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border-color: #fff;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #aaaaaa;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #aaaaaa;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #aaaaaa;
}
textarea:focus:invalid,
input:required:focus:invalid {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ff0000;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ff0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ff0000;
}
textarea:required:valid,
input:required:valid {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #00ff00;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #00ff00;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #00ff00;
}
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
  vertical-align: middle;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
  display: inline-block;
}
.screen-reader-text,
.assistive-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
#main_form_submit,
.big_submit {
  background: #ba3e25;
  -webkit-border-radius: 1.6em;
  -moz-border-radius: 1.6em;
  -o-border-radius: 1.6em;
  -ms-border-radius: 1.6em;
  border-radius: 1.6em;
  padding: 0.8em 1.6em;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
#login_form .required {
  color: #fff;
}
#login_form a {
  text-decoration: underline;
  color: #fff;
}
#login_form .big_submit {
  background: #e8ddcd;
}
#login_form .big_submit:hover {
  background: #ba252f;
  color: #e8ddcd;
}
.submit {
  text-align: right;
}
#searchform label {
  display: none;
}
input#searchsubmit {
  display: none;
}
textarea {
  height: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Sans Unicode", "Lucida Grande" -serif;
}
/* Class for labelling required form items */
.cptch_block input {
  padding: 5px;
}
.required {
  color: #f20f25;
}
.form_row input {
  margin: 0;
}
.form_row {
  margin: 1.6em;
}
.form_hint,
.form_field_description {
  font-weight: 200;
  text-align: right;
  font-size: 0.8em;
}
.form_hint:before,
.form_field_description:before {
  content: "\2757";
  font-size: 1.2em;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  display: inline-block;
  width: 26px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  background: #aaa;
  color: #fff;
  text-align: center;
  margin-right: 5px;
}
/*###1 GENERIC STYLES (styles applied to several elements) */
body .clear_bg {
  background-color: #fff;
}
/*###2 : MENUS */
.enphazied_block {
  background-image: url("../images/subtle_dots.png");
}
.sub_menu_container {
  position: absolute;
  left: 0;
  top: -999px;
  background: #c63b33;
  padding: 1.6em;
  z-index: 9000;
  border-bottom: 1.6em solid #ccc;
  cursor: default;
}
/*###3 : GLOBAL MENU*/
#global_nav {
  position: relative;
  z-index: 10;
  background: rgba(0, 0, 0, 0.3);
  font-family: altfont;
}
#global_nav a {
  color: #e8ddcd;
  font-family: altfont_bold;
}
.global_sub_menu_container a {
  text-decoration: none;
  color: #333333;
  padding: 2px 2px 2px 4px;
  margin: 2px;
  font-size: 12px;
  display: block;
}
.global_sub_menu_container a:hover {
  background: #707070;
  color: #fff;
}
.global_menu_title {
  color: #555555;
  font-size: 16px;
  margin-bottom: 10px;
  padding-bottom: 6px;
  border-bottom: 1px solid #555555;
}
#global_menu .rsstitle {
  font-size: 1.1em;
  border-bottom: 1px solid #d75136;
  margin: 0 0 10px 0;
}
#global_menu .rsstitle:before {
  content: "\25B9\00A0";
}
#global_menu .rsslist {
  margin: 0 0 15px 0;
}
#global_menu .rssdate {
  color: #333333;
  padding: 0 10px;
}
#global_menu .rssdesc {
  display: none;
}
#global_menu {
  position: relative;
  margin: 0;
  padding: 0;
}
#global_menu .menu_more_button {
  background: #FBF9F9;
  vertical-align: top;
  font-weight: bold;
  color: #4d4d4d;
}
#dev_blog_hint {
  color: #555555;
  left: 115px;
  opacity: 0.5;
  position: absolute;
  top: 34px;
  transform: rotate(3deg);
  width: 260px;
}
.global_menu_list {
  padding: 0px;
  margin-left: -4px;
  display: inline-block;
}
.global_menu_list:hover {
  background-color: #fff;
  margin-bottom: -9px;
}
.global_menu_list.non_site {
  background: none;
  padding: 0 15px;
}
.global_menu_list h1 {
  color: #707070;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Liberation Mono, Liberation Sans;
  color: #ba3e25;
  -webkit-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #ba3e25;
  -moz-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #ba3e25;
  -o-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #ba3e25;
  -ms-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #ba3e25;
  text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #ba3e25;
}
.global_menu_link,
.global_menu_link:visited {
  z-index: 900;
  text-decoration: none;
  position: relative;
  color: #111;
  display: inline-block;
}
.global_menu_link:hover {
  text-decoration: none;
}
/*menu site's colors*/
.global_menu_list:hover #menu_blog {
  color: #83ad67;
  border-bottom: 9px solid #83ad67;
}
.global_menu_list:hover #menu_doc {
  color: #2c8ca0;
  border-bottom: 9px solid #2c8ca0;
}
.global_menu_list:hover #menu_forum {
  color: #bf6069;
  border-bottom: 9px solid #bf6069;
}
.global_menu_list:hover #menu_dev {
  color: #82577b;
  border-bottom: 9px solid #82577b;
}
#main_logo {
  padding: 0 0.8em;
  vertical-align: middle;
}
#main_logo_container {
  display: inline-block;
  white-space: nowrap;
  /* chromium bugfix*/
  margin: 0 18px 0 0;
}
#connection_menu {
  float: right;
  white-space: nowrap;
  /* chromium bugfix*/
}
#logout_button {
  color: #e8ddcd;
}
#dashboard_button {
  background: #ba3e25;
  color: #fff;
  display: inline-block;
}
#dashboard_button:hover {
  background: #d75136;
  color: #fff;
}
#connection_button {
  background-color: #c63b33;
  color: #fff;
  margin: 0 0 0 18px;
  height: 1.6em;
  /* chromium bugfix*/
}
#subscribe_link {
  background-repeat: repeat-y;
}
/*###3 MAIN NAV*/
#login_form form {
  text-align: right;
  background: none;
}
#login_form label,
#login_form input {
  width: 40%;
  display: inline-block;
}
#main_nav,
.sub_nav {
  border-top: 1px solid #ddbbb5;
  z-index: 3;
  position: relative;
  width: 100%;
}
#main_nav .menu,
.sub_nav .menu {
  padding: 10px;
  margin: 0;
  display: inline-block;
}
#main_nav .menu-item {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #ddbbb5;
  margin: 0 8px;
  vertical-align: middle;
}
#main_nav .sub-menu {
  position: absolute;
  top: -9999px;
}
#main_nav .sub_menu_container {
  border-top: 1px solid #707070;
}
.sub_menu_container .main_nav_link {
  margin: 15px 0;
  display: inline-block;
}
.sub_menu_container .main_nav_link.has_sub_link:after {
  content: "\00A0\25BE";
}
.main_nav_link.has_sub_link_top {
  margin-right: 5px;
}
.has_sub_li {
  position: relative;
}
.has_sub_li:hover .bellow_sub_menu {
  display: block;
  left: 0;
}
.has_sub_link {
  position: relative;
  border-bottom-width: 0;
}
.has_sub_li:hover .has_sub_link {
  border-left: 4px solid #707070;
}
.bellow_sub_menu {
  position: absolute;
  left: 9999px;
  border-top: 2px solid #ddbbb5;
  width: 300px;
  border-left: 5px solid #707070;
  background: #fff;
}
.bellow_sub_menu .menu_item {
  padding-right: 0;
}
.bellow_sub_menu .main_nav_link {
  width: 279px;
}
/*###1 SITE DESCRIPTION*/
#site_infos {
  padding: 3.2em 1.6em 1.6em 1.6em;
  margin-top: -1.6em;
}
#site_title,
#site_description {
  display: inline-block;
  margin: 0;
  font-family: altfont_bold;
  font-size: 2em;
  line-height: 1.6em;
}
#site_title {
  margin-right: 1.6em;
  color: #ba3e25;
}
#site_title_link {
  color: #ba3e25;
  text-decoration: none;
}
#site_description {
  color: #e8ddcd;
}
.header_description {
  vertical-align: top;
  display: inline-block;
}
.meeting_text {
  width: 185px;
  color: #6a6a6a;
  font-family: "Lucida Sans Unicode", "Lucida Grande";
  font-size: 0.75em;
}
#meeting_info {
  background: #fafafa;
  padding: 15px 0 0 0;
}
.meeting_date {
  font-size: 1.2em;
}
.dev_style {
  display: inline-block;
}
.orga_style {
  display: inline-block;
}
#meeting_title {
  display: inline-block;
  color: #aaa;
  position: relative;
  top: -54px;
  margin: 0 -31px;
  font-size: 1.2em;
  color: #C20013;
}
#menu_chat {
  background: #fff;
}
#menu_chat .global_menu_link {
  color: #C20013;
}
/*###2 COLUMNS  */
#sidebar {
  width: 27%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: #e8ddcd;
  background-image: url("../images/noise.png");
  overflow: visible;
}
.sidebar_list {
  margin: 15px 0;
}
#sidebar input {
  width: 100%;
}
.sidebar_button {
  margin: 1.6em 0;
  display: block;
  -webkit-border-box-sizing: border-box;
  -moz-border-box-sizing: border-box;
  -o-border-box-sizing: border-box;
  -ms-border-box-sizing: border-box;
  border-box-sizing: border-box;
  text-align: center;
}
/*###2 CONTENT*/
.content {
  padding: 0.8em 1.6em;
}
.breadcrumbs {
  font-size: 0.8em;
  padding: 0 10px;
}
#full_content_container {
  width: 100%;
  display: table;
}
#main_content,
#sidebar {
  vertical-align: top;
  display: table-cell;
}
#main_content {
  position: relative;
  z-index: 2;
  /*for the filter animation*/
  /*background: url('../images/triangles_maxi.png') top right repeat-y @subtle_grey;*/
  background: #fefefe;
  width: 73%;
  box-shadow: -3px 69px 5px #dddddd inset;
  -moz-box-shadow: -3px 69px 5px #dddddd inset;
  -webkit-box-shadow: -3px 69px 5px #dddddd inset;
  -ms-box-shadow: -3px 69px 5px #dddddd inset;
  -o-box-shadow: -3px 69px 5px #dddddd inset;
}
#main_content > h1,
#main_content_title,
#sidebar_title,
#home_band_title {
  text-align: center;
  margin: 0;
  font-family: altfont_bold;
  width: 100%;
  padding: 0;
  font-size: 1em;
  line-height: 3.2em;
  background: #a2a2a2 url("../images/worn_dots.png");
  color: #151411;
}
.index_list_columns {
  margin: 0;
  padding: 1.6em;
  background-position: left top;
  background-repeat: no-repeat;
}
.index_list_columns.three_columns {
  display: inline-block;
}
.index_list_columns.two_columns {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.index_list_columns:nth-child(4n + 2 ) {
  background-position: right top;
}
.index_list_columns:nth-child(4n+3) {
  background-position: left bottom;
}
.index_list_columns:nth-child(4n+4) {
  background-position: right bottom;
}
/* Sidebar slideshow */
#sidebar_title.search {
  display: inline;
  padding: 0 1.6em;
}
#sidebar_header .search_form,
#search_form {
  padding: 0;
  margin: 0;
}
.search_form label {
  padding: 0;
  font-size: 1em;
}
.search_form .search-field {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 3.2em;
}
#sidebar_header .search_submit {
  position: absolute;
  left: -9999px;
}
#side_nav {
  margin: 0;
  padding: 0;
  position: relative;
}
.side_filter {
  margin: 0;
  position: relative;
  z-index: 1;
}
.side_filter:last-of-type .side_filter_title:not(.active) {
  background: #ba3e25;
  color: #fff;
}
.side_filter_title {
  color: #151411;
  background: #a2a2a2 url("../images/worn_dots.png");
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  white-space: nowrap;
  margin: 0;
  padding: 0 0.6em;
  z-index: 999;
  -webkit-transition: top ease 0.5s, background ease 0.5s;
  -moz-transition: top ease 0.5s, background ease 0.5s;
  -ms-transition: top ease 0.5s, background ease 0.5s;
  -o-transition: top ease 0.5s, background ease 0.5s;
  transition: top ease 0.5s, background ease 0.5s;
  cursor: pointer;
}
.side_filter:nth-child(3) .side_filter_title {
  top: 2.56em;
}
.side_filter:nth-child(2) .side_filter_title {
  top: 1.28em;
}
.side_filter .side_filter_title.selected {
  background: #ba3e25;
  color: #fff;
}
.side_filter_content {
  padding: 1.6em;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  background: #e8ddcd;
  -webkit-transition: right 0.5s ease;
  -moz-transition: right 0.5s ease;
  -ms-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../images/noise.png");
}
.side_filter_list {
  padding: 0;
}
.side_filter_item {
  margin: 0 0 15px 0;
}
/*INNER NAV*/
#nav_below .nav_previous,
#nav_below .nav_next {
  z-index: 10000;
  position: fixed;
  bottom: 0;
  height: 1.6em;
  padding: 0.6em;
  -webkit-box-shadow: 2px 2px 2px #555555;
  -moz-box-shadow: 2px 2px 2px #555555;
  -o-box-shadow: 2px 2px 2px #555555;
  -ms-box-shadow: 2px 2px 2px #555555;
  box-shadow: 2px 2px 2px #555555;
}
#nav_below .nav_previous {
  left: 0;
  background: #fff;
}
#nav_below .nav_next {
  right: 0;
  background: #fff;
}
#nav_below .nav_next:hover {
  opacity: 1;
}
#nav_below .nav_previous:hover {
  opacity: 1;
}
/*FOOTER*/
#footer {
  border-top: #e0e0e0 1em solid;
  padding: 20px;
  background: #f0f0f0;
  clear: both;
  font-size: 0.8em;
  text-align: right;
  overflow: hidden;
}
#footer_login {
  font-size: 0.8em;
}
#footer_bug_repport {
  float: left;
}
/* EXTRA */
.ui-datepicker-calendar td {
  padding: 0;
  text-align: center;
}
#ui-datepicker-div {
  background: #fff;
  border: 3px solid #ddd;
  padding: 15px;
}
#ui-datepicker-div select {
  padding: 0;
  font-size: 0.8em;
  margin: 10px;
}
.ui-datepicker-next {
  float: right;
}
.ui-datepicker-unselectable {
  color: #ddd;
}
/*DEBUG*/
/*END DEBUG*/
