/*
(use the keyword "###1" to jump to the next part "###2" for the next sub-part, "###3" for the sub-sub..)
SUMMARY : 

NAKED TAGS
FORMS
GENERIC CLASSES
GENERIC STYLES
  GRAPHICAL ELEMENTS
  LOGO
  MENUS
    GLOBAL MENU
    MAIN NAV
  HOME
  COLUMNS

*/
/*#1 : LESS GLOBAL VARIABLES*/
/*a very subtle blue*/
/*BG*/
/*Text colors*/
/*#1 : LESS MIXINS*/
/*###1 : NAKED TAGS*/
body {
  background-image: url("../images/noise.png");
  color: #555555;
  background-color: #eeeeee;
  font-weight: 300;
}
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
a,
a:visited {
  text-decoration: none;
  color: #c34e00;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 2.1em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Liberation Mono;
  font-weight: 200;
  color: #999999;
}
h1,
h2 {
  color: #e48445;
}
li {
  list-style: none;
}
li:before {
  content: "\25B9\00A0";
  color: #e48445;
}
nav {
  background: url("../images/subtle_dots.png");
}
/*Reseting the list styles when they are a list of links in a navigation element*/
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  padding: 0;
  margin: 0;
}
nav li:before {
  content: "";
}
@font-face {
  font-family: "FontAwesome";
  src: url("./font/fontawesome-webfont.eot");
  src: url("./font/fontawesome-webfont.eot?#iefix") format("eot"), url("./font/fontawesome-webfont.woff") format("woff"), url("./font/fontawesome-webfont.ttf") format("truetype"), url("./font/fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal;
}
blockquote {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0 0 0 15px;
  margin: 0 0 18px 40px;
  position: relative;
  font-style: italic;
}
blockquote:before {
  display: block;
  content: "\201C";
  font-size: 100px;
  position: absolute;
  left: -40px;
  top: 30px;
  font-style: normal;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
}
blockquote small {
  display: block;
  line-height: 18px;
  color: #999;
  font-style: normal;
}
blockquote small:before {
  content: '\2014 \00A0';
}
/*###1 GENERIC CLASSES*/
.titlization {
  /*TODO : utiliser cette classe plutôt que dupliquer le style un peu partout*/

  text-transform: uppercase;
  font-weight: bold;
  font-family: Liberation Mono, Liberation Sans;
  color: #ff7f2a;
  -webkit-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #ff7f2a;
  -moz-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #ff7f2a;
  -o-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #ff7f2a;
  -ms-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #ff7f2a;
  text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #ff7f2a;
}
/*Hiding a semantic element useful for accessibility*/
.out_of_the_way {
  position: absolute;
  top: -9999px;
  left: auto;
}
.menu_more_button {
  z-index: 9990;
  position: relative;
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  -ms-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  transition: top 0.5s ease;
  top: 0px;
  width: 30px;
}
.lower_button {
  top: 10px;
}
.highlight,
.Active,
.Highlight {
  /*Vanilla classes are camel case which sucks*/

  border-bottom: 2px solid #ff7f2a;
  border-right: 2px solid #ff7f2a;
}
/*###1 SPECIFIC STYLING*/
/*###2 BUTTONS AND VISUAL ELEMENTS*/button,
.buttonified,
.BigButton,
input[type="button"] {
  /*buttonified exists to make a link looks like a button, when <button> is not semantic*/

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.3em;
  padding-right: 1px;
  border: 2px solid #ff7f2a;
  vertical-align: middle;
  /*.shadowyBox(@main_color_dark);*/

  background: #fffaf6;
  color: #e48445;
  margin: 0 4px;
  height: 33px;
}
.main_menu_more {
  -webkit-box-shadow: 0 0 2px #c34e00;
  -moz-box-shadow: 0 0 2px #c34e00;
  -o-box-shadow: 0 0 2px #c34e00;
  -ms-box-shadow: 0 0 2px #c34e00;
  box-shadow: 0 0 2px #c34e00;
  border: none;
  font-size: 1em;
}
.button_thick {
  -webkit-text-shadow: 1px 1px 1px #c34e00;
  -moz-text-shadow: 1px 1px 1px #c34e00;
  -o-text-shadow: 1px 1px 1px #c34e00;
  -ms-text-shadow: 1px 1px 1px #c34e00;
  text-shadow: 1px 1px 1px #c34e00;
  color: #fff;
}
.buttonified {
  display: inline-block;
  text-decoration: none;
  line-height: 33px;
  height: 30px;
  padding: 0 1px 0 6px;
}
.menu_container .enlighted {
  -webkit-box-shadow: 0 0 12px #ff7f2a;
  -moz-box-shadow: 0 0 12px #ff7f2a;
  -o-box-shadow: 0 0 12px #ff7f2a;
  -ms-box-shadow: 0 0 12px #ff7f2a;
  box-shadow: 0 0 12px #ff7f2a;
}
button:hover,
.buttonified:hover,
.BigButton:hover,
input[type="button"]:hover,
.lower_button,
.selected_button {
  color: #ff7f2a;
  -webkit-box-shadow: 2px 2px 2px #ff7f2a;
  -moz-box-shadow: 2px 2px 2px #ff7f2a;
  -o-box-shadow: 2px 2px 2px #ff7f2a;
  -ms-box-shadow: 2px 2px 2px #ff7f2a;
  box-shadow: 2px 2px 2px #ff7f2a;
  -webkit-text-shadow: 0 0 2px #ff7f2a;
  -moz-text-shadow: 0 0 2px #ff7f2a;
  -o-text-shadow: 0 0 2px #ff7f2a;
  -ms-text-shadow: 0 0 2px #ff7f2a;
  text-shadow: 0 0 2px #ff7f2a;
  text-decoration: none;
}
#connection_button,
.darker_button {
  background: #ff7f2a;
  color: #c34e00;
  font-weight: 500;
  border: 2px solid #c34e00;
}
#connection_button:hover,
.darker_button:hover {
  color: #fffaf6;
  background: #e48445;
  -webkit-text-shadow: 2px 2px 2px #fffaf6;
  -moz-text-shadow: 2px 2px 2px #fffaf6;
  -o-text-shadow: 2px 2px 2px #fffaf6;
  -ms-text-shadow: 2px 2px 2px #fffaf6;
  text-shadow: 2px 2px 2px #fffaf6;
  -webkit-box-shadow: 3px 3px 5px #ff7f2a;
  -moz-box-shadow: 3px 3px 5px #ff7f2a;
  -o-box-shadow: 3px 3px 5px #ff7f2a;
  -ms-box-shadow: 3px 3px 5px #ff7f2a;
  box-shadow: 3px 3px 5px #ff7f2a;
  border: 2px solid #fffaf6;
}
/*###2 : LOGO*/
#branding {
  background: #fff;
}
#logo_box {
  text-align: center;
  font-size: 1.2em;
  color: #ff7f2a;
  display: inline-block;
  width: 150px;
  margin-bottom: 20px;
}
#site-title {
  font-size: 120px;
  position: relative;
  -webkit-text-shadow: 3px 3px 0 #ffffff, 6px 6px 0 #ff7f2a;
  -moz-text-shadow: 3px 3px 0 #ffffff, 6px 6px 0 #ff7f2a;
  -o-text-shadow: 3px 3px 0 #ffffff, 6px 6px 0 #ff7f2a;
  -ms-text-shadow: 3px 3px 0 #ffffff, 6px 6px 0 #ff7f2a;
  text-shadow: 3px 3px 0 #ffffff, 6px 6px 0 #ff7f2a;
  /*TODO : utiliser cette classe plutôt que dupliquer le style un peu partout*/

  text-transform: uppercase;
  font-weight: bold;
  font-family: Liberation Mono, Liberation Sans;
  color: #ff7f2a;
  -webkit-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #ff7f2a;
  -moz-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #ff7f2a;
  -o-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #ff7f2a;
  -ms-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #ff7f2a;
  text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #ff7f2a;
  display: inline-block;
  -webkit-transform: skew(-20deg, 0deg);
  -moz-transform: skew(-20deg, 0deg);
  -ms-transform: skew(-20deg, 0deg);
  -o-transform: skew(-20deg, 0deg);
  transform: skew(-20deg, 0deg);
  margin: 0 20px;
  vertical-align: text-bottom;
  border-left: 1px solid #eeb088;
  border-right: 1px solid #eeb088;
  padding: 0 30px;
}
#home_link {
  /*color given to the link inside the h1*/

  color: #ff7f2a;
}
#home_link:hover {
  text-decoration: none;
}
#site-description {
  display: inline-block;
  width: 320px;
  margin: 0;
}
/* ###1 FORMS */
form {
  margin: 0 0 18px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #555555;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
legend small {
  font-size: 13.5px;
  color: #999;
}
label,
input,
textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 25px;
  padding: 4px;
}
label {
  padding-right: 10px;
  display: inline-block;
  text-align: right;
  width: 190px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: inline-block;
  font-size: 1em;
  color: #555;
  width: 300px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  background-color: #fff;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type="radio"],
input[type="checkbox"] {
  margin: 3px 0;
  cursor: pointer;
  vertical-align: top;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
#searchform label {
  display: none;
}
input#searchsubmit {
  display: none;
}
textarea {
  width: 80%;
  height: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input[type="submit"] {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"].active,
input[type="submit"].disabled,
input[type="submit"][disabled] {
  background-color: #e6e6e6;
}
input[type="submit"]:active,
input[type="submit"].active {
  background-color: #cccccc \9;
}
input[type="submit"]:hover {
  color: #555555;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
input[type="submit"]:focus {
  outline: thin dotted #555555;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input[type="submit"].active,
input[type="submit"]:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
input[type="submit"].disabled,
input[type="submit"][disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* Class for labelling required form items */
.required {
  color: #cc0033;
}
.form_row {
  margin: 10px 0;
}
/*###2 SPECIFIC FORMS */
#login_form {
  text-align: right;
}
/*###1 GENERIC STYLES (styles applied to several elements) */
/*###2 : MENUS */
.sub_menu_container {
  position: absolute;
  left: 0;
  top: -999px;
  background: url("../images/subtle_dots.png");
  padding: 0 40px 10px 10px;
  border-left: 5px solid #ff7f2a;
  -webkit-box-shadow: 2px 2px 2px #944815;
  -moz-box-shadow: 2px 2px 2px #944815;
  -o-box-shadow: 2px 2px 2px #944815;
  -ms-box-shadow: 2px 2px 2px #944815;
  box-shadow: 2px 2px 2px #944815;
  z-index: 9000;
}
/*###3 : GLOBAL MENU*/
#global_menu_container {
  border-bottom: 5px solid #ff7f2a;
  background: url("../images/subtle_dots.png");
}
.global_menu_list.selected {
  background: #ff7f2a;
  color: #fff;
}
.global_sub_menu_container a {
  text-decoration: none;
  color: #555555;
  padding: 2px 2px 2px 4px;
  margin: 2px;
  font-size: 12px;
  display: block;
}
.global_sub_menu_container a:hover {
  background: #ff7f2a;
  color: #fff;
}
.global_menu_title {
  color: #999999;
  font-size: 16px;
  margin-bottom: 10px;
  padding-bottom: 6px;
  border-bottom: 1px solid #999999;
}
#global_menu .rsstitle {
  font-size: 1.1em;
  border-bottom: 1px solid #fffaf6;
  margin: 0 0 10px 0;
}
#global_menu .rsstitle:before {
  content: "\25B9\00A0";
}
#global_menu .rsslist {
  margin: 0 0 15px 0;
}
#global_menu .rssdate {
  color: #555555;
  padding: 0 10px;
}
#global_menu .rssdesc {
  display: none;
}
#global_menu {
  position: relative;
  margin: 0;
  padding: 5px 5px;
}
.global_menu_list {
  padding-top: 2px;
  display: inline-block;
}
.global_menu_list h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: Liberation Mono, Liberation Sans;
  color: #ff7f2a;
  -webkit-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #ff7f2a;
  -moz-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #ff7f2a;
  -o-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #ff7f2a;
  -ms-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #ff7f2a;
  text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #ff7f2a;
}
.global_menu_link,
.global_menu_link:visited {
  z-index: 9900;
  background: #fff;
  text-decoration: none;
  width: 90px;
  padding: 2px 10px;
  margin: 0 0 0 5px;
  -webkit-box-shadow: 2px 2px 2px #c34e00;
  -moz-box-shadow: 2px 2px 2px #c34e00;
  -o-box-shadow: 2px 2px 2px #c34e00;
  -ms-box-shadow: 2px 2px 2px #c34e00;
  box-shadow: 2px 2px 2px #c34e00;
  border-bottom: 2px solid #ff7f2a;
  position: relative;
  top: 0;
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  -ms-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  transition: top 0.5s ease;
}
.global_menu_link:hover {
  -webkit-box-shadow: 2px 2px 2px #ff7f2a;
  -moz-box-shadow: 2px 2px 2px #ff7f2a;
  -o-box-shadow: 2px 2px 2px #ff7f2a;
  -ms-box-shadow: 2px 2px 2px #ff7f2a;
  box-shadow: 2px 2px 2px #ff7f2a;
}
#global_menu_contact:before {
  content: '';
  width: 24px;
  height: 24px;
  background-image: none, url('../images/icons_24/icons.png');
  background-position: 0 0, -24px -96px;
  background-color: #fff, none;
  padding: 3px 12px;
  margin-right: 5px;
}
#global_menu_irc:before {
  content: '';
  width: 24px;
  height: 24px;
  background-image: none, url('../images/icons_24/icons.png');
  background-position: 0 0, -144px -72px;
  background-color: #fff, none;
  padding: 3px 12px;
  margin-right: 5px;
}
#global_nav {
  width: 75%;
  display: inline-block;
}
#connection_menu {
  width: 24%;
  display: inline-block;
  margin-bottom: 5px;
}
/*###3 MAIN NAV*/
#access,
.sub_nav {
  border-top: 1px solid #eeb088;
  /*float: left;*/

  margin-bottom: 40px;
  z-index: 3;
  position: relative;
  width: 100%;
  -webkit-box-shadow: 2px 2px 2px #c34e00;
  -moz-box-shadow: 2px 2px 2px #c34e00;
  -o-box-shadow: 2px 2px 2px #c34e00;
  -ms-box-shadow: 2px 2px 2px #c34e00;
  box-shadow: 2px 2px 2px #c34e00;
}
#access {
  margin-bottom: 40px;
}
#access .menu,
.sub_nav .menu {
  padding: 10px;
  margin: 0;
  display: inline-block;
}
#access .menu-item {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #eeb088;
}
#access .sub-menu {
  position: absolute;
  top: -9999px;
}
#access .sub_menu_container {
  border-top: 1px solid #959595;
}
.sub_menu_container .main_nav_link {
  margin: 15px 0;
  display: inline-block;
}
.sub_menu_container .main_nav_link.has_sub_link:after {
  content: "\00A0\25BE";
}
.main_nav_link.has_sub_link_top {
  margin-right: 5px;
}
.has_sub_li {
  position: relative;
}
.has_sub_li:hover .bellow_sub_menu {
  display: block;
  left: 0;
}
.has_sub_link {
  position: relative;
  border-bottom-width: 0;
}
.has_sub_li:hover .has_sub_link {
  border-left: 4px solid #ff7f2a;
}
.bellow_sub_menu {
  position: absolute;
  left: 9999px;
  border-top: 2px solid #eeb088;
  width: 300px;
  border-left: 5px solid #ff7f2a;
  background: #fff;
}
.bellow_sub_menu .menu_item {
  padding-right: 0;
}
.bellow_sub_menu .main_nav_link {
  width: 279px;
}
/*###2 COLUMNS  */
#primary {
  float: left;
  width: 73%;
  padding: 0 1%;
}
#primary.full-width {
  width: 100%;
}
#sidebar {
  float: right;
  width: 24%;
  border: 1px solid #959595;
  background: url("../images/subtle_dots.png");
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 2px #959595;
  -moz-box-shadow: 2px 2px 2px #959595;
  -o-box-shadow: 2px 2px 2px #959595;
  -ms-box-shadow: 2px 2px 2px #959595;
  box-shadow: 2px 2px 2px #959595;
  border: 1px solid #c34e00;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-right: 1%;
}
.sidebar_title {
  margin: 0 0 10px;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Liberation Mono, Liberation Sans;
  color: #e48445;
  -webkit-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #e48445;
  -moz-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #e48445;
  -o-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #e48445;
  -ms-text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #e48445;
  text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #e48445;
}
.sidebar_title a {
  color: #e48445;
}
#sidebar input {
  width: auto;
}
.sidebar_button {
  margin: 15px 0;
  display: block;
  -webkit-border-box-sizing: border-box;
  -moz-border-box-sizing: border-box;
  -o-border-box-sizing: border-box;
  -ms-border-box-sizing: border-box;
  border-box-sizing: border-box;
  text-align: center;
}
