/*#1 : LESS GLOBAL VARIABLES*/
/*a very subtle blue*/
/* SUB-SITES COLORS */
/*Services*/
/*BG*/
/*Text colors*/
/*#1 : LESS MIXINS*/
.pager .hidden {
  display: none;
}
.pager ul,
.sorter ul {
  margin: 0;
  padding: 0;
  background: #f0f0f0;
  border-bottom: 9px solid #e0e0e0;
  padding: 0 10px;
}
.pager,
.sorter {
  display: table-cell;
}
.pager li,
.sorter li {
  display: inline-block;
  padding: 2px 3px;
}
.pager li:before,
.sorter li:before {
  margin: 0;
  content: "";
}
.pager .page.selected a {
  cursor: default;
  color: #6a6a6a;
  text-decoration: underline;
  font-weight: bold;
}
.context_nav_wrapper {
  display: table;
  width: 100%;
}
.items {
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}
.sorter a:after {
  content: " \25B3";
  display: inline-block;
  width: 15px;
  margin-left: 10px;
  line-height: 1em;
}
.sorter a:hover:after {
  content: " \25B2";
}
.sorter .asc:after {
  content: " \25B2";
}
.sorter .asc:hover:after {
  content: " \25BD";
}
.sorter .desc:after {
  content: " \25BC";
}
.sorter .desc:hover:after {
  content: " \25B3";
}
