@import url('less/variables.less');
#band_list{
  margin: 0;
  padding: 0;
}
.band_list_item:before{
  content: "";
  margin: 0;
}
.artiste_image{
  float:left;
  max-width: 50%;
  margin: 0 20px 20px 0;
}
